/.idea/
/precheck_results/
*/tmp
*/*/tmp
*.hex*
*.lst
*.vcd
*.gtkw
/env
/venv
/venv-cocotb
/caravel
/dependencies
/mgmt_core_wrapper
/logs
openlane2-venv
design_info.yaml
openlane/dependencies/
pdk/
*.lib
*.gds
*.mag
*.def
*.v
*.spice
*.lib
*.gds
*.mag
*.def
*.spice
openlane/dependencies/
pdk/
*.gds
*.mag
*.def
*.lib
*.spice
